*{
	box-sizing: border-box;
}
body{
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	background-image: url('../img/background.jpg');
	background-size: 100%;
	font-size: 15px;
}

a{
	color: #aaa;
	text-decoration: none;
}

img{
	width: 100%;
}
nav{
	background-color: #222;
}

nav ul{
	float: right;
	margin-top: 12px;
}

nav img{
	width: 48px;
	margin: 15px;
}

ul li{
	display:  inline-block;
	margin: 15px;
}

ul li a{

	border: 1px solid #f0f0f0;
	padding: 15px;
	color: white;
	transition: background-color 1s ease;
}

ul li a:hover{
	background-color: rgba(200,200,200,0.5);
	color: white;
	text-decoration: none;
	/*font-size: 20px;*/
}

.about-gallery div{
	position: absolute;
	width: 25%;
	display: inline-block;
	padding: 10px;
/*	margin-left: auto;
	margin-right: auto;*/
}

.about-gallery div img{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.poster-wrapper div{
	/*width: 33%;*/
	display: inline-block;
	text-align: center;
	padding: 20px;
	position: relative;
	transition: all 1s ease;
	transition-property: transform,opacity;
	opacity: 0.8;

}

.poster-wrapper div h2{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	color: white;
	margin: 0;
	font-size: 35px;
}

.poster-wrapper div img{
	position: relative;
	border: 8px solid #f0f0f0;
}

.poster-wrapper div:hover{
	opacity: 1;
	transform: scale(1.5);
	z-index: 1;
}

.form-container{
	width: 50%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: rgba(0,0,0,.3);
	padding: 30px;
	color: #f0f0f0;
}

.form-container label{
	
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.form-container input,
.form-container textarea,
.form-container button,
.form-container select{
	width: 100%;
	font-size: 1rem;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #fff;
}

.form-container button{
	background-color: #222;
	color: white;
	border: none;
	margin-top: 15px;
	padding: 15px;
}

button:disabled{
	background-color: #BBB;
	color:#777;
}

table {
	border-spacing: 1px solid black;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border: 1px solid #333;
	color: #333;
}

table th,table td{
	border: 1px solid black;
	padding: 10px;
}

table th{
	font-weight: bold;
}
table td{
	font-weight: thin;
	text-align: center;
}

table tr td button{
	background-color: #222;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
}

@media(max-width: 791px){
	/*.poster-wrapper div{
		width: 49%;
	}*/

	.poster-wrapper div:hover{
	transform: scale(1.1);
	}

	ul li a{
	padding: 7px;
	}

	ul li{
	margin: 10px;
	}

	nav img{
	width: 40px;
	}

	.poster-wrapper div h2{
	font-size: 27px;
	}
}

@media(max-width: 478px){
/*	.poster-wrapper div{
		width: 100%;
	}*/

	nav ul{
	padding: 0px;
	}

	ul li a{
	padding: 5px;
	}

	ul li{
	margin: 5px;
	}

	nav img{
	width: 30px;
	}

	.poster-wrapper div h2{
	font-size: 35px;
	}
}
}